<div class="container pt-3">
  <div class="mt-2 p-1 bg-primary text-white rounded text-center">
    <h1>Add New Task</h1>
<p>Create and manage tasks using API integration</p>
  </div>

  <div class="row">
    <div class="col-5 pt-2">
      <input type="text" class="form-control" placeholder="Task Name" 
      [(ngModel)]="taskObj.taskName" name="taskName">

    </div>
  </div>

  <div class="row">
    <div class="col-12 pt-2">
      <textarea class="form-control"  rows="1" placeholder="task description"></textarea>
    </div>
  </div>

  <div class="row pt-2">
    <div class="col-2">
      <input type="date" class="form-control" id="textDate" >
    </div>
   
    <div class="col">
    
      <button *ngIf="taskObj.itemId === 0" class="btn btn-success float-end"  (click)="addTask()">Add Task</button>
     
    </div>
  </div>




  <div class="row pt-3">
    <div class="col-12">
      <table class="table table-bordered table-striped table-sm">
        <thead>
          <tr>
            <th>Index</th>
            <th>Task Name</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of taskList; let i = index; trackBy: trackByItemId">
            <td class="text-center">{{ i + 1 }}</td>
            <td>
              <div class="row">
                <div class="col-1">
        
                </div>
                <div class="col-6">
                  {{ item.taskName }}
                </div>
                <div class="col-4 text-end">
              
                </div>
              </div>
            </td>
            <td>{{ item.dueDate | date: 'dd-MMM-yyyy' }}</td>
            <td class="text-center">
            
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
